body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('assets/bg.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.vision-board {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1 {
    font-size: 2.5em;
    color: #000000;
    margin-bottom: 20px;
}

.container {
    background-color: rgba(255, 255, 255, 0); 
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto; 
    margin: 0 auto; 
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap; 
}

.quotes {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}

.quote-image {
    flex: 1; 
    background-color: #ddd;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; 
}

.image-box {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.stretched-row {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.stretched-image {
    background-color: #ddd;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; 
}

.stretched-image.stretched1 {
    flex: 0 0 33%; 
}

.stretched-image.stretched2 {
    flex: 0 0 64%; 
}

.stretched-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
